# Lists

In [4]:
#with lists we can make a collection of indexed variables with multiple datatypes

mylist = ['one', 2, 3.000]
mylist[2]

3.0

In [11]:
#can also concatonate
another_list = ['four', 'five']
mylist + another_list

['one', 2, 3.0, 'four', 'five']

In [12]:
#Can also mutate

another_list[1] = 'FIVE!'
another_list

['four', 'FIVE!']

In [13]:
#can apply functions to these
another_list.append('six')   #addes a new entry to the list
another_list

['four', 'FIVE!', 'six']

In [15]:
#pop does the opposite

another_list.pop() #takes away last part of list and returns this part

'six'

In [16]:
another_list

['four', 'FIVE!']

In [19]:
#use indexing here as well
new_list = ['one', 'two', 'three'] + another_list
popped_list = new_list.pop(3)
popped_list

'four'

In [21]:
#and we have the list left over
new_list

['one', 'two', 'three', 'FIVE!']

In [24]:
#example of sort function:
ran_list = ['a', 'd', 'c', 'x', 'r', 'h']
ran_list.sort() #function will change order of list to be alphabetical 
ran_list

['a', 'c', 'd', 'h', 'r', 'x']

In [25]:
#note this does not return a value so the following gives no output
sorted_list = ran_list.sort()
sorted_list

In [26]:
type(sorted_list) #nothing exists here = None value

NoneType

In [29]:
ran_list.reverse()
ran_list

['a', 'c', 'd', 'h', 'r', 'x']





# Dictionaries

- uses key value pairs - useful when indexing is not possible
- dictionairies are unordered and can not be sorted
- no indexing, no slicing/sorting

In [33]:
price_lookup = {'apple': 0.50,'oranges':1.2, 'milk':2.50}

In [34]:
price_lookup['milk']

2.5

In [35]:
# dictionaries can support multiple datatypes - list and dictionaries can be used as a value with an asociated key
# items can be nested
d = {'key1':['a', 'b', 'c'], 'key2':[1, 2, 3]}

# to capitalise c we can:
d['key1'][2].capitalize()

'C'

In [36]:
price_lookup

{'apple': 0.5, 'oranges': 1.2, 'milk': 2.5}

In [39]:
#to add another key-value pair (or overwrite)

price_lookup['banana'] = 1.25
price_lookup

{'apple': 0.5, 'oranges': 1.2, 'milk': 2.5, 'banana': 1.25}

In [41]:
# can generate keys or values alone

price_lookup.values()

dict_values([0.5, 1.2, 2.5, 1.25])

In [42]:
price_lookup.items()

dict_items([('apple', 0.5), ('oranges', 1.2), ('milk', 2.5), ('banana', 1.25)])

# Tuples

- Tuples are like lists except they are imutable - they can not be changed once an onject has been added to it.
- denoted by round brackets instead of square
- Tuples are used for Data Integrity - means we can move data around and ensure that it is not changed by accident

In [44]:
tup = (1, 2, 3)
mylist = [1, 2, 3]

In [45]:
type(tup)

tuple

In [46]:
#can not reassign values in tuple
tup[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [52]:
mylist[0] = 'NEW'

In [53]:
mylist

['NEW', 'NEW', 3]

# Sets

- list of unique values, no repeats

In [54]:
myset = {1, 2, 3} #look like dictionary but not key-value pairs

In [55]:
myset.add(4)
myset.add(2)

In [56]:
myset # 2 is not added a second time

{1, 2, 3, 4}

In [57]:
#Casting
mylist = [1, 1, 1, 2, 2, 3, 3, 3, 4]

In [58]:
mylist

[1, 1, 1, 2, 2, 3, 3, 3, 4]

In [64]:
set(mylist)

{1, 2, 3, 4}

In [69]:
myset.remove(2)

In [70]:
myset

{1, 3, 4}

# Boolean

- you know this

In [60]:
type(True)

bool

In [61]:
type(False)

bool

In [62]:
type(1 > 2)

bool

In [63]:
1 > 2

False